* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s;
    font-family: sans-serif,Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}


header {
    position: fixed;
    width: 100%;
}


nav#barraDeNavegacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 22px 0 ;
}


/* Logo */


nav#barraDeNavegacao a#logo {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #fff;
}


header nav#barraDeNavegacao a#logo img {
    width: 40px;
    border-radius: 50%;
}


/* Links de navegação */


header nav#barraDeNavegacao ul#links {
    display: flex;
    gap: 40px;
}


header nav#barraDeNavegacao ul#links a {
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
}


header nav#barraDeNavegacao ul#links a:hover {
    color: #0eb;
}


/* Botão de login */

header nav#barraDeNavegacao button#botaoDeLogin {
    outline: none;
    border: none;
    color: #27282c;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 3px;
    padding: 10px 18px;
}



/* Formulário */

div#form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 720px;
    width: 100%;
    background: #fff;
    border: solid 2px #fff;
    transform: translate(-50%, -50%);
}


div#form-popup div#form-box {
    display: flex;
}


div#form-box div#form-details {
    width: 100%;
    max-width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url("assets/img/login-img.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
}


div#form-box h2 {
    text-align: center;
    margin-bottom: 30px;
}


div#form-box div#form-content {
    width: 100%;
    padding: 35px;
}


form div#input-field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}


form div#input-field input {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    border: solid 1px #717171;
    border-radius: 3px;
    font-size: 0.95rem;
    outline: none;
}


div#input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
}


form div#input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    pointer-events: none;
    transform: translateY(-50%);
}


form div#input-field input:is(:focus, :valid) ~ label {
    font-size: 0.75rem;
    transform: translateY(-120%);
}


div#form-box a {
    color: #00bcd4;
}


div#form-box a:hover {
    text-decoration: underline;
}


div#form-box a#forgot-pass {
    display: inline-flex;
    margin-top: 14px;
    font-size: 0.95rem;
}


form button {
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 14px 0;
    border-radius: 3px;
    margin: 25px 0;
    cursor: pointer;
    background: #00bcd4;
}


form button:hover {
    background: #0097a7;
}